.subscribe__vvod { 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
/* identical to box height, or 24px */

    text-align: center;

    color: #171832;

    opacity: 0.5;

}